<h3>
    <span ma-tr="twitter.datasource.description"></span>
    <md-button class="md-icon-button ma-small-button ma-no-margin" ui-sref="ui.help.twitterDataSource">
        <md-icon>help</md-icon>
    </md-button>
</h3>

<!-- This is where the inputs would go -->
<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">

    <md-input-container fflex="100" flex-gt-md="50">
        <md-icon>key</md-icon>
        <label ma-tr="twitter.datasource.consumerKey"></label>
        <input name="consumerKey" ng-model="$ctrl.dataSource.consumerKey" ma-get-ctrl="consumerKeyModelCtrl = $ngModel">
        <div ng-messages="uriModelCtrl.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="consumerKeyModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container fflex="100" flex-gt-md="50">
        <md-icon>key</md-icon>
        <label ma-tr="twitter.datasource.consumerSecret"></label>
        <input name="consumerSecret" ng-model="$ctrl.dataSource.consumerSecret" ma-get-ctrl="consumerSecretModelCtrl = $ngModel">
        <div ng-messages="uriModelCtrl.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="consumerSecretModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container fflex="100" flex-gt-md="50">
        <md-icon>key</md-icon>
        <label ma-tr="twitter.datasource.token"></label>
        <input name="token" ng-model="$ctrl.dataSource.token" ma-get-ctrl="tokenModelCtrl = $ngModel">
        <div ng-messages="uriModelCtrl.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="tokenModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container fflex="100" flex-gt-md="50">
        <md-icon>secret</md-icon>
        <label ma-tr="twitter.datasource.secret"></label>
        <input name="secret" ng-model="$ctrl.dataSource.secret" ma-get-ctrl="secretModelCtrl = $ngModel">
        <div ng-messages="uriModelCtrl.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="secretModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

</div>
